[package]
name = "git-workspace"
version = "0.3.1-alpha.0"
readme = "README.md"
repository = "https://github.com/orf/git-workspace"
authors = ["Tom Forbes <tom@tomforb.es>"]
edition = "2018"
description = "Manage and update personal and work git repos from multiple providers"
license = "MIT"
categories = [
    "development-tools",
]
keywords = ["cli", "git"]
exclude = ["workspace/**", "images/**", ".github/**"]

[dependencies]
toml = "0.5.5"
serde = { version = "1.0.102", features = ["derive"] }
failure = "0.1.6"
structopt = "0.3.5"
rayon = "1.2.1"
graphql_client = "0.8.0"
walkdir = "2.2.9"
fs_extra = "1.1.0"
indicatif = { version = "0.13.0", features = ["with_rayon"] }
console = { version = "0.9.1", default_features = false } # We don't care about unicode widths
atomic-counter = "1.0.1"
ureq = { version = "0.11.2", features = ["json"] }
serde_json = "1.0.41"

[target."cfg(unix)".dependencies]
expanduser = "1.2.1"

[profile.release]
lto = true
