[package]
name = "git-workspace"
version = "1.5.0"
readme = "README.md"
repository = "https://github.com/orf/git-workspace"
authors = ["Tom Forbes <tom@tomforb.es>"]
edition = "2021"
description = "Manage and update personal and work git repos from multiple providers"
license = "MIT"
categories = ["development-tools"]
keywords = ["cli", "git"]
exclude = ["workspace/**", "images/**", ".github/**"]

[dependencies]
toml = "0.8.19"
serde = { version = "1.0.210", features = ["derive"] }
anyhow = "1.0.86"
structopt = "0.3.26"
rayon = "1.10.0"
graphql_client = "0.14.0"
walkdir = "2.5.0"
fs_extra = "1.3.0"
indicatif = { version = "0.17.8", features = ["rayon"] }
console = { version = "0.15.8", features = [
    "ansi-parsing",
], default-features = false } # We don't care about unicode widths
atomic-counter = "1.0.1"
ureq = { version = "2.10.0", features = ["json", "native-certs", "brotli"] }
serde_json = "1.0.128"
globset = "0.4.14"
git2 = { version = "0.19.0" }
regex = "1.10.5"

[target."cfg(unix)".dependencies]
expanduser = "1.2.2"

[profile.release]
lto = true
