[package]
name = "git-workspace"
version = "1.0.3"
readme = "README.md"
repository = "https://github.com/orf/git-workspace"
authors = ["Tom Forbes <tom@tomforb.es>"]
edition = "2021"
description = "Manage and update personal and work git repos from multiple providers"
license = "MIT"
categories = [
    "development-tools",
]
keywords = ["cli", "git"]
exclude = ["workspace/**", "images/**", ".github/**"]

[dependencies]
toml = "0.5.7"
serde = { version = "1.0.148", features = ["derive"] }
anyhow = "1.0.65"
structopt = "0.3.20"
rayon = "1.5.0"
graphql_client = "0.11.0"
walkdir = "2.3.1"
fs_extra = "1.2.0"
indicatif = { version = "0.16.2", features = ["with_rayon"] }
console = { version = "0.15.2", features = ["ansi-parsing"], default_features = false } # We don't care about unicode widths
atomic-counter = "1.0.1"
ureq = { version = "2.5.0", features = ["json"] }
serde_json = "1.0.86"
globset = "0.4.9"
# Workaround for https://github.com/rust-lang/git2-rs/issues/838
git2 = { version = "<0.16.0", default_features=false }

[target."cfg(unix)".dependencies]
expanduser = "1.2.1"

[profile.release]
lto = true
