[package]
name = "git-workspace"
version = "0.8.0"
readme = "README.md"
repository = "https://github.com/orf/git-workspace"
authors = ["Tom Forbes <tom@tomforb.es>"]
edition = "2018"
description = "Manage and update personal and work git repos from multiple providers"
license = "MIT"
categories = [
    "development-tools",
]
keywords = ["cli", "git"]
exclude = ["workspace/**", "images/**", ".github/**"]

[dependencies]
toml = "0.5.6"
serde = { version = "1.0.116", features = ["derive"] }
anyhow = "1.0.32"
structopt = "0.3.19"
rayon = "1.4.0"
graphql_client = "0.9.0"
walkdir = "2.3.1"
fs_extra = "1.2.0"
indicatif = { version = "0.15.0", features = ["with_rayon"] }
console = { version = "0.12.0", default_features = false } # We don't care about unicode widths
atomic-counter = "1.0.1"
ureq = { version = "1.4.1", features = ["json", "native-tls"], default_features = false }
serde_json = "1.0.57"
globset = "0.4.5"
git2 = "0.13.11"

[target."cfg(unix)".dependencies]
expanduser = "1.2.1"

[profile.release]
lto = true
